* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #762124;
  position: sticky;
  top: 0;
}

.logo > img {
  width: auto;
  height: 120px;
  vertical-align: middle;
}

.navbar {
  width: 700px;
}

.navbar > ul {
  height: 120px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  display: block;
  color: rgb(116, 149, 206);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 10px;
}

.navbar a:active {
  background-color: rgb(172, 172, 231);
}

.nav > li:not(:first-child) > a:hover {
  background-color: rgb(116, 149, 206);
}

.dropdown {
  position: relative;
}

.dropdown > a {
  color: rgb(22, 152, 109);
  font-size: 1.2rem;
  padding: 5px 10px;
  position: relative;
  z-index: 1;
}

.dropdown-content {
  display: none;
  width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #618cbd;
  list-style: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  z-index: 0;
}

.dropdown-content > li {
  width: 100%;
  border-bottom: 1px solid #826666;
}

.dropdown-content > li:last-of-type {
  border-bottom: none;
}

.dropdown-content a {
  display: block;
  width: 100%;
  color: rgb(122, 74, 74);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 10px;
}

.dropdown-content a:hover {
  background-color: rgb(78, 49, 102);
}

.dropdown:hover > .dropdown-content {
  display: flex;
}
